.filters {

    width: 200px;

    flex-shrink: 0;

    position: sticky;

    top: 90px;

    height: calc(100vh - 90px);

    overflow-y: auto;

    padding-right: 18px;

}

/* TOP LINKS */

.top-links {

    display: flex;

    flex-direction: column;

    gap: 18px;

    margin-bottom: 24px;

    font-size: 15px;

    font-weight: 800;

}

.top-links div {

    cursor: pointer;

}

/* RESET BUTTON */

.reset-btn {

    width: 80%;

    height: 36px;

    border-radius: 30px;

    border: 1px solid #ddd;

    background: white;

    cursor: pointer;

    margin-bottom: 24px;

}

/* FILTER SECTION */

.filter-section {

    border-bottom: 1px solid #e5e5e5;

    padding-right: 10px;

}

/* FILTER HEADER */

.filter-item {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 22px 0;

    cursor: pointer;

    font-size: 16px;

    font-weight: 800;

}

.filter-arrow {

    font-size: 22px;

    color: #111;

    transition: .2s;

}

/* OPTIONS */

.filter-options {

    display: flex;

    flex-direction: column;

    gap: 14px;

    padding-top: 4px;

    padding-bottom: 20px;

}

/* SINGLE OPTION */

.filter-option {

    display: flex;

    align-items: center;

    gap: 12px;

    font-size: 15px;

    cursor: pointer;

}

.filter-option input {

    width: 18px;

    height: 18px;

    cursor: pointer;

}

/* SCROLLBAR */

.filters::-webkit-scrollbar {

    width: 6px;

}

.filters::-webkit-scrollbar-track {

    background: transparent;

}

.filters::-webkit-scrollbar-thumb {

    background: #d6d6d6;

    border-radius: 10px;

}

.filters::-webkit-scrollbar-thumb:hover {

    background: #bdbdbd;

}